@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: CelloSans;
  color-scheme: light dark;
  color: rgba(0, 0, 0);
  background-color: #FFF3E9;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: block;
}

@font-face {
  font-family: 'CelloSans';
  src: url('./fonts/CelloSans.ttf') format('truetype');
}